* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common class */
.btn {
  padding: 12px 16px;
  background-color: #30B868;
  border: none;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
}

/* common class */

.nav-section {
  align-items: center;
  width: 80%;
  max-width: 1360px;
  display: flex;
  /* flex: 1; */
  justify-content: space-between;
  margin: 16px auto;
}

.menu-item ul {
  text-decoration: none;
  display: flex;
  gap: 32px;
  list-style: none;
}

.menu-item a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 700;
}

#banner {
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url("assets/hero-bg.png");
  height: 673px;
}

.banner-container {
  width: 80%;
  max-width: 1360px;
}

.banner-contain {
  text-align: center;
  justify-content: center;
}

.early-btn {
  color: #276941;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 30px;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.early-btn .icon {
  width: 16px;
  align-items: center;
}

.banner-contain h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  color: azure;
}

.banner-contain p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
  color: aliceblue;
}

.banner-contain .btn-1 {
  padding: 12px 16px;
  background-color: #30B868;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  font-size: 16px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
}

/* notes */
#notes {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.notes-container {
  width: 80%;
  max-width: 1360px;
  height: 116px;
  text-align: center;
}

.notes-contant {
  margin-bottom: 44px;
}

.notes-contant h2 {
  text-align: center;
  margin-top: 60px;
  font-size: 48px;
}

.notes-contant p {
  font-size: 16px;
  margin-top: 16px;
}
#notes-cards{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card .icon{
  padding: 13px auto;
  margin-bottom: 16px;
}
.card{
  padding: 24px;
  text-align: center;
  margin-bottom: 120px;
  flex: 1;
  box-shadow: 0 0 8px #62738236;
}
.card h3{
 font-size: 24px;
 font-weight: 900;
 margin-bottom: 16px;
}
.card p{
 font-size: 16px;
 color: #627382;
 font-weight: 900;
 margin-bottom: 21px;
}