* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
}
/* common class */
.btn {
  padding: 12px 16px;
  background-color: #30B868;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover{
background-color: red;
}
/* common class */

.nav-section {
  align-items: center;
  width: 80%;
  max-width: 1360px;
  display: flex;
  /* flex: 1; */
  justify-content: space-between;
  margin: 16px auto;
}

.menu-item ul {
  text-decoration: none;
  display: flex;
  gap: 32px;
  list-style: none;
}

.menu-item a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 700;
}

#banner {
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url("assets/hero-bg.png");
  height: 673px;
}

.banner-container {
  width: 80%;
  max-width: 1360px;
}

.banner-contain {
  text-align: center;
  justify-content: center;
}

.banner-contain .early-btn {
  color: #276941;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 30px;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.early-btn .icon {
  width: 16px;
  align-items: center;
}

.banner-contain h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  color: azure;
}

.banner-contain p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
  color: aliceblue;
}

.banner-contain .btn-1 {
  padding: 12px 16px;
  background-color: #30B868;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  margin-right: 16px;
  gap: 6px;
  cursor: pointer;
}

.banner-contain .btn-1:hover{
  background-color: red;
}

.banner-contain .btn-2 {
  background: transparent;
  padding: 12px 16px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin-right: 16px;
  gap: 6px;
}

/* notes */
#notes {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.notes-container {
  width: 80%;
  max-width: 1360px;
  text-align: center;
}

.notes-contant {
  margin-bottom: 44px;
}

.notes-contant h2 {
  text-align: center;
  margin-top: 60px;
  font-size: 48px;
}

.notes-contant p {
  font-size: 16px;
  margin-top: 16px;
}

#notes-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 44px;
}

.card .icon {
  padding: 13px auto;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.card {
  font-size: 24px;
  font-weight: 600;
  padding: 24px;
  text-align: center;
  flex: 1;
  box-shadow: 0 0 8px #6273821f;
}

.card h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.card p {
  font-size: 16px;
  color: #627382;
  margin-bottom: 21px;
}

#knowledge {
  margin-bottom: 120px;
}

#knowledge .knowledge-container {
  width: 80%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.the {
  color: #469165;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.sotution h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.sotution .the {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 20px;
  color: #30B868;
}

.points {
  margin-top: 60px;
}

.points .bullet {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 6px;
  margin-bottom: 16px;
}

.points p {
  font-size: 16px;
  font-weight: 600;
}

#early {
  margin-bottom: 120px;
}

.early-content {
  width: 80%;
  max-width: 1360px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  background-color: #F7F6F2;
  padding: 80px;
}

.early-content h1 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}

.join {
  font-size: 16px;
  color: #627382;
  margin-bottom: 24px;
}

.join-button {
  gap: 10px;
  border: none;
  background-color: #469165;
  color: #ffffff;
  padding: 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.join-button:hover{
background-color: red;
}
.note {
  margin-top: 16px;
  font-size: 16px;
  color: #627382;
}

/* footer */
#footer {
  background-color: #001931;
}

.footer-content {
  width: 80%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 120px 120px 30px 120px;
}

.social-logo {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
}

.social p {
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 800;
}

hr {
  margin-top: 80px;
  opacity: 20%;
}

.copyright{
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  margin-top: 30px;
}