*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common class */
.btn{
  padding: 12px 16px;
  background-color: #30B868;
  border: none;
  border-radius: 5px;
}
/* common class */

.nav-section{
  align-items: center;
  width: 80%;
  max-width: 1360px;
  display: flex;
  /* flex: 1; */
  justify-content: space-between;
  margin: 16px auto;
}

.menu-item ul{
  text-decoration: none;
  display: flex;
  gap: 32px;
  list-style: none;
}
.menu-item a{
  text-decoration: none;
  font-size: 16px;
  color: black;
}